{% if has_ticket %}
## JIRA ticket: {{ ticket_number }}
{% endif %}

## Checklist before requesting a review

{% if has_ticket %}
- [x] I have formatted the subject to include ticket number as `[JIRA-123] Verb in past tense with dot at the end.`
- [x] I have added a link to the issue tracker
{% else %}
- [x] This PR does not have an associated ticket
{% endif %}
- [{% if changes.length > 0 %}x{% else %} {% endif %}] I have provided information in `Changed` section about WHY something was done if this was not a normal implementation
- [ ] I have performed a self-review of my code
- [ ] I have commented my code, particularly in hard-to-understand areas
- [{% if has_tests %}x{% else %} {% endif %}] I have added tests that prove my fix is effective or that my feature works
- [{% if has_tests %}x{% else %} {% endif %}] I have run new and existing relevant tests locally with my changes, and they passed
- [ ] I have provided screenshots, where applicable

## Changed
{% for change in changes %}
{{ loop.index }}. {{ change }}
{% endfor %}

## Screenshots
